div#overlay_container {
    z-index: 10;
    color: $text_primary;

    & * {
        @include absolute();
        @include transform(translate(-50%, -50%));
    }

    #attribution {
        @include setPosition(50%, 62.5%);
        color: transparentize($text_primary, .75);
        font-size: 1.25rem;
    }

    /* UI (statisch) */
    div.status {
        @include setPosition(50%, 62.5%);
        z-index: 20;
        white-space: nowrap;

        & * {
            @include transform(translate(0, 0));
            position: relative;
            text-align: center;
        }

        p#boostGauge {
            span#boost {
                font-size: 6rem;
            }
            span.percent {
                font-size: 2rem;
            }
        }
    }
    /* TODO */
    div#submitClick {
        @include setPosition(50%, 80%);
        color: $text_primary;
        font-size: 1.5rem;
        cursor: pointer;
    }

    div#boostLevel {
        @include setPosition(50%, 88%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        & > * {
            @include transform(translate(0, 0));
            position: relative;
        }
        
        #levelText {
            @include setPosition(0, 50%);
            font-size: 1.5rem;
            opacity: .45;
        }

        #currentSpeed {
            font-size: 1.25rem;
            opacity: .75;
            &::after {
                content: '.0km/s';
            }
        }
    }

    div#answer {
        @include glow($text_primary);
        @include setPosition(50%, 62.5%);
        font-size: 8rem;
        width: fit-content;
        text-align: center;
        opacity: 1;

        &.wrong {
            @include glow($primary_red);
        }

        &.correct {
            @include glow($neon_blue);
        }
    }

    .progress-ring {
        @include setPosition(50%, 62.5%);
        z-index: 50;
        animation: rotateWithoutScale 10s linear infinite;

        & * {@include transform(translate(0, 0));}

        circle {
            stroke-dasharray: 10 20;
            transition: stroke-dashoffset 350ms;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    }

    div#answer_field {
        @include setPosition(50%, 62.5%);
        display: none;

        #combo {
            @include absolute();
            color: $text_primary;
            white-space: nowrap;
            opacity: 0;
            font-size: 2rem;
            z-index: 50;
            &.over-five { @include glow($neon_blue); }
            &.over-twenty { @include glow($neon_red); }
        }

        #circle {
            @include sizedBox(250px);
            transform-origin: center;
            animation: rotateFull 10000ms linear infinite;
            border-radius: 50%;
            filter: grayscale(.75);
            transition: filter 1000ms ease-out;
            &._active { filter: none; }
            background: -webkit-radial-gradient(transparent, transparentize($neon_blue, 0.5), transparentize($neon_red, 0.5));
            background: -moz-radial-gradient(transparent, transparentize($neon_blue, 0.5), transparentize($neon_red, 0.5));
            background: radial-gradient(transparent, transparentize($neon_blue, 0.5), transparentize($neon_red, 0.5));
            &::after {
                @include absolute();
                $margin: 13px;
                $bg_color: rgba(21, 21, 21, 0.9);
                content: '';
                top: $margin;
                right: $margin;
                left: $margin;
                bottom: $margin;
                border-radius: 50%;
                background: -webkit-radial-gradient($bg_color, $bg_color, transparentize($bg_color, 0.5));
                background: -moz-radial-gradient($bg_color, $bg_color, transparentize($bg_color, 0.5));
                background: radial-gradient($bg_color, $bg_color, transparentize($bg_color, 0.5));
            }

            & span {
                @include transform(translate(0, 0));
                $blur_radius: 5px;
                width: 100%;
                height: 100%;
                background: linear-gradient($neon_blue, $neon_red);
                background: -webkit-linear-gradient($neon_blue, $neon_red);
                background: -moz-linear-gradient($neon_blue, $neon_red);
                border-radius: 50%;
                transition: background 1300ms;
                animation: pulse 5000ms linear infinite;
                &:nth-child(1) {
                    filter: blur($blur_radius);
                }
                &:nth-child(2) {
                    filter: blur($blur_radius * 2);
                }
                &:nth-child(3) {
                    filter: blur($blur_radius * 4);
                }
                &:nth-child(4) {
                    filter: blur($blur_radius * 11);
                }
            }
        }
    }
    
    div#score {
        @include transform(translate(0, 0));
        @include setPosition(150px, 8%);
        font-size: 3rem;
        color: $text_primary;
        animation: fadeInFull 2000ms linear;
    }

    div.added_score {
        @include transform(translate(1px, 0));
        color: $primary_yellow;
        font-size: 2rem;
        opacity: 0;
        display: flex;
        & > * {
            position: relative;
            @include transform(translate(0, 0)); 
        }
        
        #increment {
            &::before {
                content: '+';
            }
        }

        #multiplier {
            font-size: 1rem;
            color: transparentize($primary_pink, 0.1);
            left: 5px;
            line-height: 50px;
        }
    }

    div#countdown {
        @include glow($text_primary);
        @include setPosition(50%, 50%);
        display: none;
        font-size: 8rem;
    }

    div#timer {
        @include glow($primary_blue);
        @include setPosition(50%, 12.5%);
        &.under-ten { @include glow($neon_red); }
        #timer_num {
            font-size: 3rem;
        }
        #timer_tag {
            @include transform(translate(-50%, -50px));
            text-align: center;
            width: 300px;
            color: $text_primary;
            font-size: 1rem;
            font-weight: 100;
            opacity: .15;
            text-shadow: none;
        }
    }
}