$text_primary: #EFEFEF;
$primary_pink: #FF2281AA;
$primary_red: #FF4500AA;
$primary_yellow: #FDF200AA;
$secondary_yellow: #deb94f;
$primary_blue: #ababffb3;
$primary_green: #08ff08;
$text_blue: #107896;
$neon_blue: #33CCFF;
$neon_red: #ff0066;