@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/rocket';
@import 'styles/overlay';



/*
 * Allgemeneine
 */

* {
    @include noselect();   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @include fullScreen();
    position: relative;
    overflow: hidden;
    font-family: 'plex';
    canvas, #menu, #dialog, #overlay_container {
        @include fullScreen();
        position: absolute;
    }
}

/*
 * Spielmenü
 */

div#menu {
    z-index: 20;

    & * {
        @include absolute();
        @include transform(translate(-50%, -50%));
    }

    h1 {
        @include setPosition(50%, 25%);
        color: $text_primary;
        font-size: 13rem;
        animation: fadeInFull 10000ms linear;
    }

    p {
        @include setPosition(50%, 37%);
        color: transparentize($text_primary, .8);
        font-size: .9rem;
        text-align: center;
        animation: fadeInFull 10000ms linear;
    }
}

/*
 * Buttons
 */

button {
    @include defaultButton();
    font-size: 3rem;
    color: $text_primary;
    &#start {
        @include setPosition(50%, 65%);
        animation: fadeIn 1000ms linear;
    }
    &#tutorial {
        @include setPosition(50%, 75%);
        animation: fadeIn 1000ms linear;
    }
    &#pause {
        @include setPosition(90%, 10%);
        font-size: 2rem;
        animation: fadeIn 1000ms linear;
    }
}

/*
 * Quiz
 */
 .op {
    @include setPosition(50%, 65%);
    opacity: 0;
    color: $text_primary;
    width: fit-content;
    transition: opacity 50ms;
    
    &.blurred {
        filter: blur(16px);
    }

    &.cleared {
        opacity: 0.25;
    }

    &[value="+"] {
        @include glow($primary_blue);
    }

    &[value="-"] {
        @include glow($primary_pink);
    }

    &[value="*"] {
        @include glow($primary_yellow); 
        animation: shining_multi 250ms ease-in-out infinite; 
        span {
            transform: translate(-50%, -40%) !important;
            -webkit-transform: translate(-50%, -40%) !important;
            -ms-transform: translate(-50%, -40%) !important;
        }
    }
}

/*
 * Dialog
 */

div#dialog {
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #252525;
    opacity: .75;
    .title-text {
        font-size: 8rem;
        color: $text_primary;
    }
}

