@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/keyframes';
@import 'styles/rocket';
@import 'styles/overlay';

@font-face {
    font-family: 'plex';
    src: url('./fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/IBMPlexSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*
 * Allgemeneine
 */
* {
    @include noselect();   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @include fullScreen();
    position: relative;
    overflow: hidden;
    font-family: 'plex';
    canvas, #menu, #dialog, #overlay_container {
        @include fullScreen();
        position: absolute;
    }
}

#fade_out {
    @include fullScreen();
    position: absolute;
    z-index: 100;
    background: #252525;
    animation: fadeInAndOut 5000ms linear;
    animation-fill-mode: forwards;
}

/*
 * Spielmenü
 */

div#menu {
    z-index: 20;

    & * {
        @include absolute();
        @include transform(translate(-50%, -50%));
    }

    h1 {
        @include setPosition(50%, 25%);
        color: $text_primary;
        font-size: 13rem;
        animation: fadeInFull 10000ms linear;
    }

    p {
        @include setPosition(50%, 37%);
        color: transparentize($text_primary, .8);
        font-size: .9rem;
        text-align: center;
        animation: fadeInFull 10000ms linear;
    }
}

/*
 * Buttons
 */
button {
    @include defaultButton();
    font-size: 3rem;
    color: $text_primary;
    opacity: 0.5;
    animation: fadeIn 1000ms linear;
    &#start {
        @include setPosition(50%, 65%);
    }

    &#tutorial {
        @include setPosition(50%, 75%);
    }

    &#pause {
        @include setPosition(calc(100% - 150px), 12%);
        font-size: 1.5rem;
    }
}

/*
 * Quiz
 */
 .op {
    @include setPosition(50%, 65%);
    opacity: 0;
    color: $text_primary;
    width: fit-content;
    transition: opacity 50ms;
    
    &.blurred {
        filter: blur(16px);
    }

    &.cleared {
        opacity: 0.25;
    }

    &[value="+"] {
        @include glow($primary_blue);
    }

    &[value="-"] {
        @include glow($primary_pink);
    }

      
    &[value="*"] {
        @include glow($primary_yellow); 
        animation: shining_multi 250ms ease-in-out infinite; 
        span {
            transform: translate(-50%, -40%) !important;
            -webkit-transform: translate(-50%, -40%) !important;
            -ms-transform: translate(-50%, -40%) !important;
        }
    }
}

/*
 * Dialog
 */

div#dialog {
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #252525;
    opacity: .75;
    .title-text {
        font-size: 8rem;
        color: $text_primary;
    }
}

/*
 * Outro
 */

 div#earth_container {
    @include absolute();
    @include transform(translate(-50%, -50%));
    @include setPosition(50%, 50%);
    $earth_size: 400px;
    

    #scoreboard {
        @include setPosition(0, -25px);
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        
        & * {
            @include transform(translate(0, 0));
            position: relative;
        }

        #final_score {
            margin-bottom: 1rem;
        }

        .label { font-size: 2rem; color: $text_primary; opacity: .45; font-weight: 100; }
        .number { font-size: 4rem; @include glow($primary_yellow); }
    }

    #rocket_orbit {
        $orbit_size: 600px;
        @include sizedBox($orbit_size);
        @include setPosition(0, -($orbit_size / 2));
        animation: 
            blurOut 5s linear,
            rotateFromCenter 10s linear infinite;
        animation-fill-mode: forwards;
        transform-origin: 0 50%;
        transform-box: border-box;
    }

    .flame_wrapper {
        $flame_size: 60px;
        @include setPosition(-90px, 30px);
        z-index: -1;
        animation: flicker 3ms ease-in infinite;
        .flame {
            @include transform(rotateZ(-45deg));
            transform-origin: center;
            position: absolute;
            bottom: 0;
            border-radius: 0% 50% 50% 50%;
        }
        .red {
            @include sizedBox($flame_size);
            background-color: orangered;
            box-shadow: 0px 0px 10px 5px orangered;
        }
        .orange {
            @include sizedBox($flame_size * .75);
            left: 16px;
            bottom: 10px;
            background-color: orange;
            box-shadow: 0px 0px 10px 5px orange;
        }
        .gold {
            @include sizedBox($flame_size * .55);
            left: 28px;
            bottom: 16px;
            background-color: gold;
            box-shadow: 0px 0px 10px 5px gold;
        }
        .white {
            @include sizedBox($flame_size * .45);
            left: 36px;
            bottom: 21px;
            background-color: lightyellow;
            box-shadow: 0px 0px 10px 5px lightyellow;
        }
    }
    
    #earth {
        z-index: -1;
        width: $earth_size;
        height: $earth_size;
        background: url(img/earth.jpg);
        border-radius: 50%;
        background-size: cover;
        box-shadow: 
            inset 0 0 20px #03A9F4,
            0 0 120px #03A9F4;
        animation:
            blurOut 5s linear,
            animateEarth 40s linear infinite;
        animation-fill-mode: forwards;
     }
 }

